
body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

h1 {
  color: #7b2727;
}

p {
    color:#996432;
}
legend {
    color: #4d6f32;
    font-weight: bold;
}
fieldset {
    border: 2px solid #f9fafa;
    padding: 12px;
    margin-bottom: 20px;
}
label {
     color: #7145af;
    margin-bottom: 8px;
    font-weight: bold;
}
